body {
    background-color: #222233;
    display: flex;
    justify-content: center;
    align-items: center;
}

#top-container {
    display: flex;
    flex-direction: column;
}

#button-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 24px;
}

#grid-container {
    display: flex;
}

h1 {
    color: #ddd;
}

footer h3 {
    color: #ddd;
    text-align: center;
}

.grid {
    display: flex;
}

.square {
    background-color: #ddd;
    border: 1px solid #bbb;
}



